<p class="lead"><a class="button" href="/landmarks/new">Create New Landmark</a></p>

<div class="row col-sm-12">
  <table class="table table-stripped">
    <th><p class="lead">Landmark</p></th>
    <th><p class="lead">Year Completed</p></th>
    <tr>
      <% Landmark.all.each do |landmark| %>
        <td><p class="lead"><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %></a></p></td>
        <td><p class="lead"><%=landmark.year_completed%></p></td>
    </tr>
    <% end %>
  </table>
</div><br>
