<div class="row col-sm-12">
  <p class="lead"><a href="/figures/new">Create New Figure</a></p>
</div>

<div class="row col-sm-12">
  <table class="table table-stripped">
    <th><p class="lead">Figure Name</p></th>
    <th><p class="lead">Landmarks</p></th>
    <tr>
      <!-- Figure -->
      <% Figure.all.each do |figure| %>
        <td><p class="lead"><a href="/figures/<%=figure.id%>"><%= figure.name %></a></p></td>

        <!-- Landmarks -->
        <td>
        <% figure.landmarks.each do |landmark| %>
          <p class="lead"><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %>
        <% end %>
        </td>
    </tr>
    <% end %>
  </table>
</div><br>
