<form action="/figures" method="post">

  <!-- Figure Name -->
  <div class="form-group row">
    <label for="figure_name" class="col-sm-2 form-control-label">Figure Name:</label>
    <div class="col-sm-3">
      <input type="text" id="figure_name" name="figure[name]" class="form-control" placeholder="Name">
    </div>
  </div>

  <!-- Landmark Name -->
  <div class="form-group row">
    <label for="figure_name" class="col-sm-2 form-control-label">Landmark Name:</label>
    <div class="col-sm-3">
      <input type="text" id="figure_name" name="figure[landmarks]" class="form-control" placeholder="Name">
    </div>
  </div>

  <!-- Submit Button -->
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" value="Create New Figure" class="btn btn-primary">Create New Figure</button>
    </div>
  </div>

</form>
