body {
  background-color: lightblue;
}

#header {
  padding: 30px;
  font-size: 1.8em;
}

#header>a {
  margin-right: 50px;
}

table {
  border: 2px solid navy;
}

th, td {
  border-right: 1px solid navy;
  border-bottom: 1px solid navy;
}
