<p class="lead"><a href="titles/new">Create New Title</a></p>

<div class="row col-sm-12">
  <table class="table table-stripped">
    <th><p class="lead">Title</p></th>
    <th><p class="lead">Figures</p></th>
    <tr>
      <!-- Figure -->
      <% Title.all.each do |title| %>
        <td><p class="lead"><a href="/titles/<%=title.id%>"><%= title.name %></a></p></td>

        <td>
        <% title.figures.each do |figure| %>
        <p class="lead"><a href="/figures/<%=figure.id%>"><%= figure.name %></a></p>
        <% end %>
        </td>
    </tr>
    <% end %>
  </table>
</div><br>
