<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>NYC Landmarks</title>
</head>
<body>
  <div class="container">
    <h1 class="lead" id="header">
      <a href="/landmarks">Landmarks</a>
      <a href="/figures">Figures</a>
      <a href="/titles">Titles</a>
    </h1>
    <%= yield %>
  </div>
</body>
</html>
